@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@200;300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1faee;
    display:flex;
    justify-content: center;
    height: 100vh;
}

#header {
   color:#1d3557;
   font-size: 60px;
   border-bottom: 2px solid #1d3557;
}

.timer-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

#timer {
   font-size: 30px;
   color:#1d3557;
   font-weight: bold;
   letter-spacing: 1px;
   border: 6px dashed #1d3557;
   padding: 8px;
   width: 10rem;
   display: flex;
   justify-content: center;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
}

.box.part {
   border: solid 1px black;
}
.submit {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: #1d3557;
    margin-bottom: 2.4rem;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 3px;
    box-shadow: 0 3px 3px rgb(37, 41, 46);
}

.submit:active {
    box-shadow: none;
    transform: translateY(3px)
}

#helper-image-container {
   width: 200px;
   height: 200px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0px 0px 15px #000000;
   transition: .2s;
}

.helper-image {
   width: 200px;
   height: 200px;
   background-size: cover;
   cursor: pointer;
   transition: .2s;
   object-fit: cover;
}

.helper-image:not(.bigger):hover {
   transform: scale(1.2);
}
#helper-image-container:hover {
   box-shadow: 0px 0px 15px 3px black;

}

.box:hover .piece {
   width: 100px;
   height: 200px;
}


.bigger {
   transition: none;
   height: 600px !important;
   width: 600px !important;
   z-index: 12;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
}

.piece {
   border: solid 1px black;
   cursor: pointer;
}

.image { 
   width: 400px;
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   background-color: #1d3557;
   box-shadow: 0 0 3px black;
   overflow: hidden;
}

.game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.hovered {
    background-color: #1d3557;
    border: dashed 3px white !important;
}

.invisible {
    opacity: 0;
}

#leftTable .box {
   background-color: white;
}

.setup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: .2s ease-in-out;
   width: 500px;
   max-width: 80%;
   background-color: white;
   border: double 5px black;
   border-radius: 10px;
   z-index: 10;
   padding: 10px;
}

.setup.started {
   transform: translate(-50%, -50%) scale(0);
}

.setup-header {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   margin: 10px 15px;
   border-bottom: solid 1px black;
}

.setup-body {
   margin: 10px 15px;
   border-bottom: 1px solid black;
   padding-bottom: 20px;
   padding-top: 10px;
}

#pieceNum {
   margin: 10px;
   font-size: 18px;
   border: solid 1px black;
   border-radius: 3px;
   padding: 3px;
   cursor: pointer;
}

.setup-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
}

.start {
   border: none;
   padding: 8px;
   margin-top: 10px;
   width: 25%;
   font-size: 1.25rem;
   font-weight: bold;
   color: white;
   background-color: #1d3557;
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: .6s;
}

.start:hover {
   background-color: #457b9d;
}

.overlay {
   position: fixed;
   transition: .1s ease-in-out;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   pointer-events: all;
   background-color: rgba(0,0,0,.6);
}

.overlay.started {
   opacity: 0;
   pointer-events: none;
}

#end {
   position: absolute;
   transition: 1s ease-in-out;
   width: 500px;
   max-width: 80%;
   background-color: white;
   top: 50%;
   left: 50%;
   opacity: 0;
   transform: translate(-50%,-50%) scale(0);
   z-index: 11;
}

#end.active {
   transform: translate(-50%,-50%) scale(1);
   opacity: 1;
}

#replay {
   width: 40%;
   margin-bottom: 20px;
}

#duration {
   font-size: 20px;
}




