@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@200;300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(229, 240, 250);
    display:flex;
    justify-content: center;
    height: 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
}

.pieceHolder {
   border: solid 1px green;
}


.piece {
   width: 200px;
   height: 200px;
}

.box {
   width:200px;
   height: 200px;
   border: solid .5px black;
   cursor: pointer;
}
.submit {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color:blueviolet;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0 3px 3px rgb(62, 19, 102);
}




.submit:active {
    box-shadow: none;
    transform: translateY(3px)
}

.image { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(253, 224, 224);
}

.game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.hovered {
    background-color: #333;
    border: dashed 3px white;;
}

.invisible {
    opacity: 0;
}
