@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@200;300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F7F7;
    display:flex;
    justify-content: center;
    height: 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
}

.box {
   border: solid .5px black;
   cursor: pointer;
}
.submit {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(37, 41, 46);
    color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px 3px rgb(37, 41, 46);
}


.submit:active {
    box-shadow: none;
    transform: translateY(3px)
}

.image { 
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3282B8;
}

.game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.hovered {
    background-color: #1B262C;
    border: dashed 3px white;;
}

.invisible {
    opacity: 0;
}

#leftTable .box {
   background-color: white;
}

.setup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: .2s ease-in-out;
   width: 500px;
   max-width: 80%;
   background-color: white;
   border: double 5px black;
   border-radius: 10px;
   z-index: 10;
   padding: 10px;
}

.setup.started {
   transform: translate(-50%, -50%) scale(0);
}

.setup-header {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   margin: 10px 15px;
   border-bottom: solid 1px black;
}

.setup-body {
   margin: 10px 15px;
   border-bottom: 1px solid black;
   padding-bottom: 20px;
   padding-top: 10px;
}

#pieceNum {
   margin: 10px;
   font-size: 18px;
   border: solid 1px black;
   border-radius: 3px;
   padding: 3px;
   cursor: pointer;
}

.setup-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
}

#start {
   border: none;
   padding: 8px;
   margin-top: 10px;
   width: 25%;
   font-size: 1.25rem;
   font-weight: bold;
   color: white;
   background-color: rgb(119, 83, 177);
   border-radius: 5px;
   letter-spacing: 1px;
   cursor: pointer;
}

.overlay {
   position: fixed;
   transition: .2s ease-in-out;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   pointer-events: all;
   background-color: rgba(0,0,0,.5);
}

.overlay.started {
   opacity: 0;
   pointer-events: none;
}

